[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
make_country_codes = {editable = true,path = "."}
luigi = "*"
pandas = "*"
requests = "*"
lxml = "*"
html5lib = "*"
bs4 = "*"
xlrd = "*"
datapackage = "*"

[requires]
python_version = "3.7"
