[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
make_country_codes = {editable = true,path = "."}
pset-utils = {editable = true,git = "https://github.com/csci-e-29/2019sp-pset-utils-ewheeler"}
luigi = "*"
pandas = "*"
requests = "*"
lxml = "*"
html5lib = "*"
bs4 = "*"

[requires]
python_version = "3.7"
